*.blend1
/objects
/scenes
!/objects/sponza
!/objects/ball
!/objects/colors
!/objects/dice
!/objects/torus
!/scenes/sponza.toml
!/scenes/ball.toml
!/scenes/colors.toml
!/scenes/dice.toml
!/scenes/torus.toml
/target
/temp
/work
